
@{
    ViewData["Title"] = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>

<html>


<body>
   
    @{ int contador = 1;}
    @foreach (var cat in ViewBag.Carrusel)
    {

        <div class="container my-4">

            <h4 class="col-md-4"><a href="#">@cat.nombre </a> </h4>
            <!--Carousel Wrapper-->
            <div id="carousel-@contador" class="carousel slide" data-ride="carousel">

                <!--Controls-->
                <a class="carousel-control-prev" href="#carousel-@contador" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>

                <a class="carousel-control-next " href="#carousel-@contador" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>

                <!--/.Controls-->
                <!--Indicators-->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-@contador" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-@contador" data-slide-to="1"></li>

                </ol>
                <!--/.Indicators-->
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                    <!--First slide-->

                    <div class="carousel-item active">
                        <div class="row">
                            @for (int i = 0; i < 3; i++)
                            {

                                <div class="col-md-4">
                                    <div class="card">
                                        <img class="card-img-top" src="@cat.mtoCatLibros[i].imagen"
                                             alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">@cat.mtoCatLibros[i].titulo</h4>
                                            <h5 class="card-text">@cat.mtoCatLibros[i].autor</h5>
                                            <h5 class="card-text">Precio: </h5>
                                            <h5 class="card-text">$ @cat.mtoCatLibros[i].precio cocoins</h5>
                                            <a class="btn btn-comprar" href="#">Comprar</a>
                                            <a class="btn btn-comprar" href="#">Añadir al carrito</a>
                                        </div>
                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                    <!--/.First slide-->
                    <div class="carousel-item">
                        <div class="row">
                            @for (int i = 3; i < 5; i++)
                            {
                                <div class="col-md-4">
                                    <div class="card">
                                        <img class="card-img-top" src="@cat.mtoCatLibros[i].imagen"
                                             alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">@cat.mtoCatLibros[i].titulo</h4>
                                            <h5 class="card-text">@cat.mtoCatLibros[i].autor</h5>
                                            <h5 class="card-text">Precio: </h5>
                                            <h5 class="card-text">$ @cat.mtoCatLibros[i].precio cocoins </h5>
                                            <a class="btn btn-comprar" href="#">Comprar</a>
                                            <a class="btn btn-comprar" href="#">Añadir al carrito</a>
                                        </div>
                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                    <!--Second slide-->

                </div>




                <!--/.Slides-->

            </div>
            <!--/.Carousel Wrapper-->



        </div>
        contador++;
    }

</body>
</html>
