@model IEnumerable<Cocoteca.Models.CarritoCompra>

@{
    ViewData["Title"] = "Carrito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>La Cocoteca</title>
    <link rel="icon" href="imagenes/coco.png" type="image/icon type">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel=StyleSheet href="css/custom.css" type="text/css" media=screen>
    <link rel=StyleSheet href="css/carrito.css" type="text/css" media=screen>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
</head>

@{decimal subtotal = 0;}
@{decimal total = 0;}

<div class="p-4 container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class=" p-4 rounded table-responsive-xl" style="background-color:#FFD1BD">
                <table class="table">
                    <thead style="background-color: #ff9060;">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Producto</th>
                            <th scope="col">Disponibilidad</th>
                            <th scope="col" class="text-center">Cantidad</th>
                            <th scope="col" class="text-right">Precio</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{int a = 0; }

                        @foreach (var item in Model)
                        {
                            
                            <tr style="background-color:#f3f3f3">
                                <td class="pl-4">
                                    <img src=@Html.DisplayFor(modelItem => item.libro.Imagen) width="80" height="100" />
                                </td>

                                <td style=" vertical-align:middle">
                                    @Html.DisplayFor(modelItem => item.libro.Titulo)
                                    <br />
                                    @Html.DisplayFor(modelItem => item.libro.Autor)
                                </td>

                                <td style="vertical-align:middle">
                                    @Html.DisplayFor(modelItem => item.libro.Stock)
                                </td>
                                <td style="vertical-align:middle" class="text-center">
                                    <div class="container">
                                        <div class="info row ">
                                            <div class="col">
                                                <button class="btn btn-sm btn-outline-dark restar" asp-action="agregarLibrosCambiados"  asp-route-conceptoLibro="@item.conceptoCompra" asp-route-sumar="false" onclick="restarCantidad(@a, @Html.DisplayFor(modelItem => item.libro.Precio))">-</button>
                                            </div>
                                            <label class="Cantidad col">@Html.DisplayFor(modelItem => item.conceptoCompra.Cantidad)</label>
                                            <div class="col">
                                                <button class="btn btn-sm btn-outline-dark agregar" asp-action="agregarLibrosCambiados"  asp-route-conceptoLibro="@item.conceptoCompra" asp-route-sumar="true" onclick="sumarCantidad(@a, @Html.DisplayFor(modelItem => item.libro.Precio))">+</button>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                @{decimal precio = item.libro.Precio * item.conceptoCompra.Cantidad;}
                                @{subtotal += precio;}
                                <td style="vertical-align:middle" class="precio text-right">@precio</td>
                                <td style="vertical-align:middle;" class="text-right">
                                    <button class="btn btn-sm btn-outline-danger"> @Html.ActionLink("Eliminar", "Eliminar", new { indice = item.conceptoCompra.TraCompras }) </button>
                                </td>
                            </tr>
                            { a++; }
                         }
                        <tr style="background-color:#f3f3f3">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Sub-Total</td>
                            <td class="subtotal text-right">@subtotal</td>
                        </tr>
                        @{ total = subtotal + 90;}
                        <tr style="background-color:#f3f3f3">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Total</strong></td>
                            <td class="total text-right"><strong>@total</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="rounded mx-3 mt-3 p-3 col mb-2 container" style="background-color:#FFD1BD">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <button class="btn btn-lg btn-block btn-search" asp-action="agregarLibrosCambiados"  asp-route-idCarrito="@ViewData["carritoId"];" asp-route-idCliente="ViewData["clienteId"];" asp-route-total="@total">Continuar Comprando</button>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <button class="btn btn-lg btn-block btn-pagar text-uppercase">PROCEDER AL PAGO</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function restarCantidad(index) {
        var cantidad = $(".info:eq(" + index + ")").find("label:eq(0)").text();
        if (cantidad > 0) {
            cantidad--;
            $(".info:eq(" + index + ")").find("label:eq(0)").text(cantidad);
            var nuevoPrecio = precio;
            nuevoPrecio *= cantidad;
            $(".precio:eq(" + index + ")").text(nuevoPrecio);

            var subtotal = $(".subtotal").text();
            subtotal -= precio;
            $(".subtotal").text(subtotal);
            var total = subtotal + 90;
            $(".total").text(total);
            return false;
        }
    }

    function sumarCantidad(index, precio) {
        var cantidad = $(".info:eq(" + index + ")").find("label:eq(0)").text();
        cantidad++;
        $(".info:eq(" + index + ")").find("label:eq(0)").text(cantidad);
        var nuevoPrecio = precio;
        nuevoPrecio *= cantidad;
        $(".precio:eq(" + index + ")").text(nuevoPrecio);

        var subtotal = parseInt($(".subtotal").text());
        subtotal += precio;
        $(".subtotal").text(subtotal);

        var total = subtotal + 90;
        $(".total").text(total);
        return false;
    }

    function actualizarCarrito() {
        
        return false;
    }

    function eliminarLibro(index) {
        $(".subtotal").text(parseInt($(".subtotal").text() - parseInt($(".precio:eq(" + index + ")").text())));
        $(".total").text(parseInt($(".subtotal").text()));
        $(".tablaitem:eq(" + index + ")").hide();
        return false;
    }

</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}