@{
    ViewData["Title"] = "Carrito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Cocoteca.Models.Busqueda
<main>

    @{ int contador = 1;}
    @foreach (var bus in Model.libros)
    {

        <div class="container my-4">
            <!--Carousel Wrapper-->
            <div id="carousel-@contador" class="carousel slide" data-ride="carousel">

                <!--Controls-->
                <a class="carousel-control-prev" href="#carousel-@contador" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>

                <a class="carousel-control-next " href="#carousel-@contador" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>

                <!--/.Controls-->
                <!--Indicators-->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-@contador" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-@contador" data-slide-to="1"></li>

                </ol>
                <!--/.Indicators-->
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                    <!--First slide-->

                    <div class="carousel-item active">
                        <div class="row">
                            @for (int i = 0; i < 3; i++)
                            {
                                @if (Model.libros.Count - 1 < i)
                                {
                                    break;
                                }
                                <div class="col-md-4">
                                    <div class="card">
                                        <img class="card-img-top" src="@bus.Imagen"
                                             alt="@bus.Titulo">
                                        <div class="card-body">
                                            <h4 class="card-title">@bus.Titulo</h4>
                                            <h5 class="card-text">@bus.Autor</h5>
                                            <h5 class="card-text">Precio: </h5>
                                            <h5 class="card-text">$ @bus.Precio cocoins</h5>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="btn-group">
                                                    <button class="btn btn-sm btn-outline-secondary" style="background-color:#F2BF2C"><a asp-controller="Equipo_Tripas" asp-action="Libro_Vista" asp-route-id="@bus.Idlibro">Ver Libro</a></button>
                                                    <button class="btn btn-sm btn-outline-secondary" style="background-color:#FCA12D"><a asp-controller="ClienteInicio" asp-action="GenerarCarrito" asp-route-id="@bus.Idlibro">Agregar a Carrito</a></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                    <!--/.First slide-->
                    <!--Second slide-->
                    <div class="carousel-item">
                        <div class="row">
                            @for (int i = 3; i < 5; i++)
                            {
                                @if (Model.libros.Count - 1 < i)
                                {
                                    break;
                                }
                                <div class="col-md-4">
                                    <div class="card">
                                        <img class="card-img-top" src="@bus.Imagen"
                                             alt="@bus.Titulo">
                                        <div class="card-body">
                                            <h4 class="card-title">@bus.Titulo</h4>
                                            <h5 class="card-text">@bus.Autor</h5>
                                            <h5 class="card-text">Precio: </h5>
                                            <h5 class="card-text">$ @bus.Precio cocoins </h5>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="btn-group">
                                                    <button class="btn btn-sm btn-outline-secondary" style="background-color:#F2BF2C"><a asp-controller="Equipo_Tripas" asp-action="Libro_Vista" asp-route-id="@bus.Idlibro">Ver Libro</a></button>
                                                    <button class="btn btn-sm btn-outline-secondary" style="background-color:#FCA12D"><a asp-controller="ClienteInicio" asp-action="GenerarCarrito" asp-route-id="@bus.Idlibro">Agregar a Carrito</a></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                    <!--Second slide-->

                </div>




                <!--/.Slides-->

            </div>
            <!--/.Carousel Wrapper-->



        </div>
        contador++;
    }



